Downloads/
Desktop/
Pictures/
Videos/

.Xclients
.bash_history
.bash_logout
.bash_profile
.bashrc

.config/Code/
.config/Code - OSS/
.config/google-chrome/

.config/.git/
.fzf-tab/
.cache/
.cargo/
.designer/
.gnupg/
.local/
.node_repl_history
.java/
.npm/
.pki/
.python_history
.python_history-30806.tmp
.ssh/
.wdm/
.mozilla/

.vscode/
.vscode-oss/

.wakatime/
.wakatime.cfg
.wakatime-internal.cfg

.zhistory
.zsh_history

.git/
**/.git/

.zcompdump
.zcompdump-step-systemproductname-5.9
.zcompdump-step-systemproductname-5.9.zwc
.xinitrc
.nvidia-settings-rc
.z
.kivy
.gtkrc-2.0
